<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adding Widgets to the Notification Center.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A65234AB1976792400D7029A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A65234BD1976792400D7029A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A65234D11976793600D7029A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67A62A91976B47500BE12D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
