<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Creating a Service Within Your App with Action Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>UppercaseExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>162</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D08F8CE19856D000078860A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D08F8E019856D000078860A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D08F8F419856DAB0078860A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
