<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Detecting the Availability of an Accelerometer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A637898A1977BB2700D19505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A637899C1977BB2700D19505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
