<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Handling Local System Notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6C2811B197555EC008E5568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6C2812D197555EC008E5568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
