<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adding New Photo Editing Capabilities to the Photos App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>165</integer>
		</dict>
		<key>PosterizeExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>166</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6036373197D26A500208268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6036385197D26A600208268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6036399197D270B00208268</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
