<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Introduction to Graphics and Animations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DB7F2471959ED32007DF05C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB7F2591959ED32007DF05C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
