<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inserting a Person Entry into the Address Book.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>154</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D46720A1984165400E35636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D46721C1984165400E35636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
