<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Requesting Access to the Address Book.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>188</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D4671891984026C00E35636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D46719B1984026C00E35636</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
