<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Retrieving Gyroscope Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>152</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6378A361977C2EB00D19505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6378A481977C2EB00D19505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
