<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>F3FU372W5M.com.pixolity.ios.Setting-Up-Your-App-for-Push-Notifications</string>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.team-identifier</key>
	<string>F3FU372W5M</string>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>F3FU372W5M.*</string>
	</array>
</dict>
</plist>
