<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Querying the Cloud with CloudKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A60B0456197A92E3007F4967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A60B0468197A92E3007F4967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
