<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adding Persons to Groups.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>156</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D15831D198508E6008E2AC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D15832F198508E6008E2AC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
